<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swust.back.dao.socketData.PileTransStep3Mapper">
    <sql id="choose">
        <where>
            <if test="createTime != null and createTime != ''">
                DATE(create_time) = #{createTime}
            </if>
            <if test="pileId != '' and pileId !=null">
                AND pileid = #{pileId}
            </if>
            <if test="chargeCardId != '' and chargeCardId !=null">
                AND charge_card_id = #{chargeCardId}
            </if>
        </where>
    </sql>

    <select id="list" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        id,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') AS createTime,
        gateid AS gateId,
        pileid AS pileId,
        trans_id AS transId,
        charge_card_id AS chargeCardId,
        time1_w AS time1W,
        time2_w AS time2W,
        time3_w AS time3W,
        time4_w AS time4W,
        time5_w AS time5W,
        time6_w AS time6W
        FROM
        `t_pile_trans_step3`
        <include refid="choose"/>
        ORDER by id
        <choose>
            <when test=" order == 'ASC' ">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
        limit #{offSet}, #{pageRow}
    </select>


    <select id="allCount" resultType="Integer">
        SELECT  count(0) FROM t_pile_trans_step3
        <include refid="choose"/>
    </select>


</mapper>